<ion-view view-title="About Us">
	<ion-content class="content-padding" has-bouncing="true">
		<h3 align="center"><b><u>Our Services</u></b></h3>
		<br>
		<img src="img/about-us.jpg" width="100%" />
		<h3 align="center"><b><u>Prospero</u></b></h3>
		<p>
			Prosperosa Consulting (Pty) Ltd is a Digital Agency based in Faerie Glen, Pretoria. We have many years of experience in Development, Online Marketing, Design, Content Generation and Hosting. We have a very strong open source development and coding background, which we have combined with creative intuition and experience to make our solutions efficient, informative and striking. The inclusion of our adaptive and intensive digital marketing department has insured that once your site or piece of marketing has been created we can insure its visibility, in the expanse of the digital world.<br><br>

			Prospero has the knowledge, passion and the experience for creating digital marketing that not only functions in a user-friendly manner but also in an attractive and eye-catching way.<br><br>

			We have over eight years experience in working with Destination Marketing Organisations. With our experience, knowledge and talent we have created digital homes and storefronts for numerous companies. 
		</p>
	</ion-content>
</ion-view>